extends ../include/_template.pug
include ../include/_mixin

block content
    +body("contact", "contact")
        +banner
        section.book_now.pb-50.pt-50
            .wraper
                 h2.title_main.fz-36.text-bold.text-center.fnt-amazon Đăng kí tư vấn
                 +form_contact


                                