/* --------------------------------------
[reset]
--------------------------------------*/

body {
    margin: 0;
}

* {
    box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-size: inherit;
    font-weight: normal;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
        text-decoration: none;
        // color: initial;
    }
}

img {
    display: block;
}

ul,
ol,
dl,
dt,
dd {
    padding: 0;
    margin: 0;
    list-style: none;
}