/* TABLE OF CONTENT
    1. [header]
    2. [footer]
    3. [page home] 
*/
/* --------------------------------------
1. [header] 
--------------------------------------*/
@media (max-width: 767px) {
	main {
		margin-top: 105px;
	}
}

header {
	position: relative;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
	z-index: 99999;
	background: #fff;
}

@media (max-width: 767px) {
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
}

header .wraper {
	position: relative;
}

@media (max-width: 767px) {
	header .wraper > .flexBox {
		justify-content: flex-start;
	}
}

header .logo {
	margin: 10px 10px;
	width: 80px;
	transition: all .3s;
}

@media (min-width: 768px) {
	header .logo {
		width: 100px;
		margin: 15px 0;
	}
}

header .logo a {
	display: block;
	position: relative;
}

header .logo a .logo_fix {
	opacity: 0;
	transition: all .3s;
	position: absolute;
	top: 0;
	left: 0;
}

header .logo a .logo_main {
	opacity: 1;
	transition: all .3s;
}

@media (max-width: 767px) {
	header .address {
		overflow: hidden;
		height: 30px;
	}
}

@media (min-width: 768px) {
	header .address {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;
		transition: all .5s;
	}
}

@media (max-width: 991px) {
	header .address {
		width: 150px;
	}
}

@media (max-width: 767px) {
	header .address {
		width: calc(100% + 30px);
		padding: 5px 15px;
		background: #6a7684;
		color: #fff;
		margin: 0 -15px;
	}
}

@media (min-width: 992px) {
	header .address {
		left: 30px;
	}
}

@media (min-width: 768px) {
	header .header-right {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
	}
}

@media (max-width: 1200px) {
	header .header-right {
		width: 200px;
	}
}

@media (max-width: 767px) {
	header .header-right {
		margin-right: 32px;
	}
}

@media (min-width: 992px) {
	header .header-right {
		right: 30px;
	}
}

header .header-right form {
	height: 25px;
	border-radius: 50px;
	background: #e5e5e5;
	overflow: hidden;
	padding-right: 40px;
	position: relative;
	width: 150px;
}

@media (min-width: 768px) {
	header .header-right form {
		width: 200px;
	}
}

@media (max-width: 1200px) {
	header .header-right form {
		order: 2;
		margin-top: 10px;
	}
}

@media (max-width: 767px) {
	header .header-right form {
		margin-top: 0;
	}
}

header .header-right form button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
	text-align: center;
	font-size: 12px;
	line-height: 26px;
}

header .header-right form input {
	background-color: transparent;
	border: none;
	padding: 5px 15px;
	font-size: 13px;
	color: #666;
}

header .header-right form input:focus {
	border: none;
	outline: none;
}

@media (max-width: 767px) {
	header .header-right .social {
		position: fixed;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		width: 25px;
		display: none;
	}
}

@media (max-width: 767px) {
	header .header-right .social li {
		margin-left: 0;
		margin: 5px 0;
	}
}

header .header-right .social li a {
	width: 25px;
	height: 25px;
	line-height: 28px;
	text-align: center;
	border-radius: 50%;
	display: block;
	background: #fff;
	transform: scale(1);
	transition: all .3s;
}

header .header-right .social li a:hover {
	background: #6a7684;
	color: #fff;
	transform: scale(1.15);
}

@media (max-width: 767px) {
	header .header-right .social li a {
		background: #6a7684;
		color: #fff;
	}
}

header nav {
	background: #6a7684;
	color: #fff;
}

@media (max-width: 767px) {
	header nav {
		padding: 80px 0 30px;
		height: 100vh;
		position: fixed;
		top: 0;
		width: 100%;
		transform: translateX(-100%);
		transition: ease-in-out .5s;
		overflow: hidden;
	}
}

header nav .wraper {
	padding: 0;
}

header nav .wraper > ul > li {
	margin: 0 15px;
}

@media (max-width: 767px) {
	header nav .wraper > ul > li {
		position: relative;
		transition: ease-in-out .5s;
		transition-delay: .4s;
		width: 100%;
		margin: 0;
	}
	header nav .wraper > ul > li:nth-child(odd) {
		transform: translateX(-100%);
	}
	header nav .wraper > ul > li:nth-child(even) {
		transform: translateX(100%);
	}
}

@media (min-width: 1201px) {
	header nav .wraper > ul > li {
		margin: 0 25px;
	}
}

header nav .wraper > ul > li > a {
	display: inline-block;
	position: relative;
	padding: 15px 0;
}

@media (max-width: 767px) {
	header nav .wraper > ul > li > a {
		padding: 15px;
		font-size: 15px;
	}
}

@media (min-width: 992px) {
	header nav .wraper > ul > li > a {
		padding: 20px 0;
	}
}

@media (min-width: 768px) {
	header nav .wraper > ul > li > a:before {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		right: 0;
		height: 1.5px;
		background: #eee;
		opacity: 0;
		transition: all .3s;
		pointer-events: none;
	}
}

@media (min-width: 768px) {
	header nav .wraper > ul > li span {
		display: inline-block;
	}
}

@media (max-width: 767px) {
	header nav .wraper > ul > li span {
		width: 65px;
		position: absolute;
		top: 1px;
		height: 48px;
		right: 0;
		z-index: 9;
		text-align: center;
		font-size: 18px;
		background: rgba(0, 0, 0, 0.1);
	}
}

@media (min-width: 768px) {
	header nav .wraper > ul > li span {
		pointer-events: none;
	}
}

header nav .wraper > ul > li span svg {
	vertical-align: text-top;
	margin-left: 5px;
	color: #ddd;
}

@media (max-width: 767px) {
	header nav .wraper > ul > li span svg {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -6px;
		margin-left: -2px;
		transform: rotate(0deg);
		transition: all .3s;
		transform: translate(-50%, -50%);
	}
}

header nav .wraper > ul > li:hover a:before {
	bottom: 10px;
	opacity: 1;
}

header nav .wraper > ul > li.active span svg {
	transform: rotate(180deg);
}

header .nav_btn {
	position: absolute;
	top: 48px;
	right: 15px;
	width: 40px;
	height: 40px;
	z-index: 999;
	transition: all .3s;
}

@media (min-width: 768px) {
	header .nav_btn {
		display: none;
	}
}

header .nav_btn span {
	width: 40px;
	height: 4px;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: #6a7684;
}

header .nav_btn span:before,
header .nav_btn span:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 3px;
	background: #6a7684;
	transition: all .4s;
}

header .nav_btn span:before {
	top: -10px;
}

header .nav_btn span:after {
	bottom: -10px;
}

@media (max-width: 767px) {
	header.scrollTop .address {
		height: 0;
		padding: 0;
	}
}

@media (max-width: 767px) {
	header.scrollTop .logo {
		width: 60px;
		margin: 5px 0;
	}
	header.scrollTop .logo .logo_main {
		opacity: 0;
	}
	header.scrollTop .logo .logo_fix {
		opacity: 1;
	}
}

@media (min-width: 768px) {
	header.scrollTop nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
	}
}

header.scrollTop .nav_btn {
	top: 7px;
}

@media (min-width: 768px) {
	.mega_menu {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		max-width: 1140px;
		margin: auto;
		background: #fff;
		padding: 15px 15px;
		opacity: 0;
		margin-top: 1px;
		display: block !important;
		transition: all .4s;
		color: #000;
		pointer-events: auto;
		margin-top: 5px;
	}
}

@media (max-width: 767px) {
	.mega_menu {
		border-top: 1px solid #ccc;
	}
}

.mega_menu .tab_hover {
	position: relative;
}

.mega_menu .tab_nav {
	width: 100%;
}

@media (min-width: 768px) {
	.mega_menu .tab_nav {
		width: 250px;
	}
}

.mega_menu .tab_nav:before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 250px;
	width: 1px;
	background: #333;
}

@media (max-width: 767px) {
	.mega_menu .tab_nav:before {
		display: none;
	}
}

.mega_menu .tab_nav li a {
	position: relative;
	display: block;
	padding: 3px 0;
	border-bottom: 1px solid #ccc;
	transition: all .5s;
	padding-left: 0;
}

@media (max-width: 767px) {
	.mega_menu .tab_nav li a {
		padding: 10px 15px;
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	.mega_menu .tab_nav li a {
		background: #fff;
	}
}

.mega_menu .tab_nav li a svg {
	font-size: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	font-weight: normal;
	opacity: 0.7;
}

.mega_menu .tab_nav li:hover a,
.mega_menu .tab_nav li.current a {
	background: #6a7684;
	color: #fff;
	padding-left: 15px;
}

.mega_menu .tab_main {
	width: calc(100% - 250px - 15px);
	margin-left: 15px;
	position: relative;
}

@media (max-width: 767px) {
	.mega_menu .tab_main {
		display: none;
	}
}

.mega_menu .tab_main .tab_content {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: none;
	opacity: 0;
	transition: all .5s;
}

.mega_menu .tab_main .tab_content.current {
	pointer-events: inherit;
	position: relative;
	display: inherit;
	opacity: 1;
}

.mega_menu .tab_main .column {
	width: 50%;
	padding: 0 5px;
}

@media (min-width: 992px) {
	.mega_menu .tab_main .column {
		padding: 0 15px;
	}
}

.mega_menu .tab_main .column .imgDrop {
	padding-top: 64.4%;
	display: block;
}

.mega_menu .tab_main .column .imgDrop:before {
	position: absolute;
	content: "";
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	background: #ebd3bc;
	transform: scale(0);
	opacity: 0;
	transition: all .5s;
	z-index: 1;
}

.mega_menu .tab_main .column .imgDrop:after {
	position: absolute;
	content: "";
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	border: 1px solid #ebd3bc;
	opacity: 0;
	transition: all .48s;
}

.mega_menu .tab_main .column .imgDrop img {
	transform: scale(1.1);
	transition: all .8s;
}

.mega_menu .tab_main .column:hover .title {
	color: #6a7684;
}

.mega_menu .tab_main .column:hover .imgDrop:before {
	opacity: 0.3;
	transform: scale(1);
}

.mega_menu .tab_main .column:hover .imgDrop:after {
	opacity: 1;
}

.mega_menu .tab_main .column:hover .imgDrop img {
	transform: scale(1);
}

@media (min-width: 768px) {
	header nav {
		position: relative;
		overflow: hidden;
	}
}

header nav:hover {
	overflow: initial;
}

@media (min-width: 768px) {
	header nav:hover li:hover .mega_menu {
		margin-top: 0;
		opacity: 1;
		z-index: 9;
		pointer-events: auto;
	}
}

body.active {
	overflow: hidden;
}

body.active nav {
	transform: translateX(0);
}

@media (max-width: 767px) {
	body.active nav .wraper > ul > li:nth-child(odd) {
		transform: translateX(0);
	}
	body.active nav .wraper > ul > li:nth-child(even) {
		transform: translateX(0);
	}
}

body.active nav .wraper > ul > li:nth-child(odd) {
	background: rgba(255, 255, 255, 0.1);
}

body.active .nav_btn {
	top: 15px;
}

body.active .nav_btn span {
	background: rgba(0, 0, 0, 0);
}

body.active .nav_btn span:before,
body.active .nav_btn span:after {
	background-color: #fff;
}

body.active .nav_btn span:before {
	transform: rotate(45deg);
	top: 0;
}

body.active .nav_btn span:after {
	transform: rotate(-45deg);
	bottom: 0;
}

/* --------------------------------------
2. [footer] 
--------------------------------------*/
footer {
	background: #6a7684;
	color: #ededed;
	font-size: 13px;
	line-height: 18px;
	position: relative;
	z-index: 999;
}

footer .column {
	width: 100%;
}

@media (min-width: 768px) {
	footer .column {
		width: calc(33.33% - 20px);
		margin-left: 30px;
	}
}

footer .column:nth-child(3n + 1) {
	margin-left: 0;
}

@media (max-width: 767px) {
	footer .item {
		border-bottom: 1px solid #aaa;
	}
}

footer .item .toggle_btn {
	padding-bottom: 5px;
	position: relative;
}

@media (min-width: 768px) {
	footer .item .toggle_btn {
		pointer-events: none;
	}
}

footer .item .toggle_btn:after {
	position: absolute;
	content: "+";
	font-weight: normal;
	top: 1px;
	right: 15px;
}

@media (min-width: 768px) {
	footer .item .toggle_btn:after {
		display: none;
	}
}

footer .active .toggle_btn:after {
	content: "-";
}

@media (max-width: 767px) {
	footer .toggle_content {
		padding-bottom: 15px;
	}
}

@media (min-width: 768px) {
	footer .toggle_content {
		display: block !important;
	}
}

@media (max-width: 767px) {
	footer .social {
		margin-top: 25px;
		margin-bottom: 15px;
		justify-content: center;
	}
}

footer .social li {
	width: 30px;
}

@media (max-width: 767px) {
	footer .social li {
		margin-left: 10px;
	}
}

footer .social li a {
	display: block;
	line-height: 28px;
	border-radius: 50%;
	font-size: 18px;
	border: 1px solid #eee;
	text-align: center;
	transform: scale(1);
	transition: all .5s;
}

footer .social li a:hover {
	transform: scale(1.2);
}

footer .title_line {
	position: relative;
	padding-bottom: 5px;
}

@media (max-width: 767px) {
	footer .title_line {
		text-align: center;
	}
}

footer .title_line:before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 2px;
	background: #fff;
	width: 100px;
}

@media (max-width: 767px) {
	footer .title_line:before {
		right: 0;
		margin: auto;
	}
}

.banner {
	position: relative;
	background: #ebd3bc;
	color: #fff;
	z-index: 1;
	min-height: 330px;
}

@media (min-width: 768px) {
	.banner {
		min-height: 500px;
	}
}

.banner .img-left,
.banner .img-right {
	position: absolute;
	bottom: 0;
	top: 0;
	z-index: -1;
}

@media (max-width: 767px) {
	.banner .img-left,
	.banner .img-right {
		opacity: 0.3;
	}
}

.banner .img-left img,
.banner .img-right img {
	height: 100%;
	width: auto;
}

.banner .img-left {
	left: 0;
}

.banner .img-right {
	right: 0;
}

.banner .content {
	width: 100%;
	max-width: 730px;
	padding: 30px 15px;
}

.banner .content .ttl_line {
	padding-bottom: 15px;
	position: relative;
}

.banner .content .ttl_line:before {
	position: absolute;
	content: "";
	bottom: 0;
	width: 150px;
	height: 1px;
	background: #fff;
	left: 0;
	right: 0;
	margin: auto;
}

.banner .content .button a {
	margin: 0 2px;
	min-width: 137px;
	text-align: center;
}

.btn_line {
	border: 1px solid #fff;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px 8px;
	display: inline-block;
}

.btn_line:hover {
	border-color: #6a7684;
	color: #6a7684;
}

.btn_fill {
	background: #fff;
	font-weight: bold;
	text-transform: uppercase;
	color: #ebd3bc;
	padding: 10px 15px 8px;
}

.btn_fill:hover {
	background: #6a7684;
}

.btn_view {
	padding: 5px 15px;
	font-size: 12px;
	line-height: 25px;
	background: #6a7684;
	display: inline-block;
	color: #fff;
	transition: all 0.3s;
}

.btn_view:hover {
	background: #152338;
}

.title_main {
	padding-bottom: 10px;
	color: #333;
	position: relative;
}

.title_main:before {
	position: absolute;
	content: "";
	bottom: 0;
	width: 100px;
	left: 0;
	right: 0;
	margin: auto;
	background: #333;
	height: 2px;
}

@media (min-width: 768px) {
	.services .rows {
		margin: 0 -10px;
	}
}

.services .item {
	width: 100%;
}

@media (min-width: 768px) {
	.services .item {
		width: calc(33.33% - 20px);
		margin: 20px 10px;
	}
}

@media (max-width: 767px) {
	.services .item {
		text-align: left;
		padding-left: 70px;
		position: relative;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}
}

@media (min-width: 1201px) {
	.services .item {
		width: calc(20% - 20px);
		margin: 0 10px;
	}
}

.services .item .images {
	margin-left: auto;
	max-width: 60px;
}

@media (max-width: 767px) {
	.services .item .images {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}
}

@media (min-width: 768px) {
	.services .item .images {
		max-width: 80px;
	}
}

.service_hot {
	position: relative;
}

@media (max-width: 767px) {
	.service_hot {
		padding-bottom: 30px;
	}
}

.service_hot .bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 1400px;
	margin: auto;
}

@media (max-width: 767px) {
	.service_hot .bg {
		opacity: 0.5;
	}
}

.service_hot .column {
	width: 100%;
}

@media (min-width: 768px) {
	.service_hot .column {
		width: calc(50% - 8px);
		color: #fff;
	}
}

@media (max-width: 767px) {
	.service_hot .column {
		text-align: center;
	}
}

@media (min-width: 992px) {
	.service_hot .column {
		width: calc(50% - 15px);
	}
}

@media (max-width: 767px) {
	.service_hot .column:nth-child(1) {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) {
	.service_hot .column:nth-child(2) {
		padding-right: 15px;
	}
}

.service_hot .column .ttl_sub {
	position: relative;
	padding-bottom: 10px;
}

.service_hot .column .ttl_sub:before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 200px;
	height: 2px;
	background: #fff;
}

@media (max-width: 767px) {
	.service_hot .column .ttl_sub:before {
		margin: auto;
	}
}

.service_hot .column .imgDrop {
	padding-top: 65.11873%;
	border: 5px solid #fff;
}

@media (max-width: 767px) {
	.service_hot .slick-arrow {
		top: 100%;
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	.service_hot .slick-next {
		right: calc(50% - 40px);
	}
}

@media (max-width: 767px) {
	.service_hot .slick-prev {
		left: calc(50% - 40px);
	}
}

.video {
	position: relative;
	z-index: 1;
}

@media (max-width: 767px) {
	.video {
		padding-bottom: 30px;
	}
}

.video .imgDrop {
	padding-top: 67.63285%;
}
.video .tab_nav,
.video .tab_main {
	width: 100%;
}

@media (min-width: 992px) {
	.video .tab_nav,
	.video .tab_main {
		width: calc(50% - 15px);
	}
}

.video .nav_item {
	width: 100%;
}

.video .nav_item + .nav_item {
	margin-top: 5px;
}

@media (min-width: 768px) {
	.video .nav_item + .nav_item {
		margin-top: 15px;
	}
}

@media (max-width: 991px) {
	.video .nav_item {
		border-top: 1px solid #ccc;
		padding-top: 5px;
	}
}

.video .nav_item .images {
	position: relative;
	width: 150px;
}

@media (min-width: 992px) {
	.video .nav_item .images {
		width: 150px;
	}
}

.video .nav_item .content {
	width: calc(100% - 150px);
	padding: 5px 10px;
}

@media (min-width: 992px) {
	.video .nav_item .content {
		width: calc(100% - 150px);
		padding: 10px 15px;
	}
}

.video .nav_item .content .btn_view {
	background: #6a7684;
	color: #fff;
	transition: all 0.3s;
	padding: 3px 25px;
}

@media (min-width: 992px) {
	.video .nav_item .content .btn_view {
		padding: 5px 25px;
	}
}

.video .nav_item:hover,
.video .nav_item.current {
	background: #eee;
}

.images_before_after .images {
	width: calc(50% - 2px);
	margin: 10px 1px;
	position: relative;
	border: 5px solid #fff;
	background: #fff;
}

.images_before_after .images .imgDrop {
	padding-top: 149.77974%;
}

.images_before_after .title {
	width: 100%;
	opacity: 0;
	transition: all 0.4s;
}

.images_before_after .slick-arrow {
	z-index: 9;
}

@media (max-width: 767px) {
	.images_before_after .slick-arrow {
		top: 100%;
		margin-top: -15px;
	}
}

@media (min-width: 768px) {
	.images_before_after .slick-arrow {
		margin-top: -15px;
	}
}

.images_before_after .slick-arrow.slick-next {
	right: 28%;
}

@media (max-width: 767px) {
	.images_before_after .slick-arrow.slick-next {
		right: calc(50% - 40px);
	}
}

.images_before_after .slick-arrow.slick-prev {
	left: 28%;
}

@media (max-width: 767px) {
	.images_before_after .slick-arrow.slick-prev {
		left: calc(50% - 40px);
	}
}

@media (max-width: 767px) {
	.images_before_after .slick-track {
		margin-top: -20px;
	}
}

@media (min-width: 768px) {
	.images_before_after .slick-track {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}
}

.images_before_after .item.slick-slide {
	width: 420px;
	transition: transform 0.4s;
	position: relative;
}

.images_before_after .item.slick-slide {
	transform: scale(0.6) translate(640px);
}

@media (min-width: 768px) {
	.images_before_after .item.slick-slide {
		transform: scale(0.8) translate(640px);
	}
}

.images_before_after .item.slick-slide.slick-center + .slick-slide {
	transform: scale(0.7) translate(-250px);
	z-index: 10;
}

@media (min-width: 768px) {
	.images_before_after .item.slick-slide.slick-center + .slick-slide {
		transform: scale(0.9) translate(-250px);
	}
}

.images_before_after .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
	transform: scale(0.6) translate(-640px);
	z-index: 5;
}

@media (min-width: 768px) {
	.images_before_after .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
		transform: scale(0.8) translate(-640px);
	}
}

.images_before_after .item.slick-slide.slick-active {
	transform: scale(0.7) translate(250px);
}

@media (min-width: 768px) {
	.images_before_after .item.slick-slide.slick-active {
		transform: scale(0.9) translate(250px);
	}
}

.images_before_after .item.slick-slide.slick-center {
	/* margin: 0 -10%; */
	z-index: 30;
	transform: scale(0.8);
}

@media (min-width: 768px) {
	.images_before_after .item.slick-slide.slick-center {
		transform: scale(1.1);
	}
}

.images_before_after .item.slick-slide.slick-center .title {
	opacity: 1;
}

.images_before_after .slick-center:after {
	opacity: 0;
}

.max-500 {
	max-width: 500px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.max-800 {
	max-width: 800px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.feedback {
	color: #1d1b20;
}

@media (max-width: 767px) {
	.feedback {
		padding-bottom: 80px;
	}
}

.feedback .wrap {
	padding: 0 15px;
}

.feedback .wrap .images {
	max-width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.feedback .wrap .images .imgDrop {
	padding-top: 100%;
	border-radius: 50%;
}

@media (max-width: 767px) {
	.feedback .slick-arrow {
		top: 100%;
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	.feedback .slick-arrow.slick-next {
		right: calc(50% - 40px);
	}
}

@media (max-width: 767px) {
	.feedback .slick-arrow.slick-prev {
		left: calc(50% - 40px);
	}
}

.sale_off .content {
	background-color: #a8c7ca;
	display: flex;
	position: relative;
}

@media (max-width: 767px) {
	.sale_off .content {
		flex-wrap: wrap;
	}
}

.sale_off .content .content_main {
	background-image: url(../images/banner_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	text-align: center;
	min-height: 300px;
	padding: 20px 15px;
}

@media (max-width: 767px) {
	.sale_off .content .content_main {
		width: 100% !important;
	}
}

.sale_off .content .content_main .icon {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.sale_off .content .images {
	position: relative;
}

@media (max-width: 767px) {
	.sale_off .content .images {
		width: 100%;
		background: #fff;
	}
}

@media (min-width: 768px) {
	.sale_off .content .images {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
	}
}

.sale_off .content .images img {
	width: 100%;
	height: auto;
}

@media (min-width: 768px) {
	.sale_off .content .images img {
		height: 100%;
		width: auto;
	}
}

.sale_off .content .images .number_sale {
	position: absolute;
	top: 25%;
	left: 8%;
}

.blog {
	background: #f1e7e0;
}

.blog .column {
	padding: 5px;
	width: 100%;
}

@media (min-width: 577px) {
	.blog .column {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.blog .column {
		width: 33.33%;
	}
}

@media (min-width: 992px) {
	.blog .column {
		padding: 10px;
	}
}

.blog .column:nth-child(1) {
	width: 100%;
}

@media (min-width: 768px) {
	.blog .column:nth-child(1) {
		width: 60%;
	}
}

.blog .column:nth-child(1) .item {
	position: relative;
}

@media (min-width: 577px) {
	.blog .column:nth-child(1) .item .images {
		height: 100%;
	}
}

@media (min-width: 768px) {
	.blog .column:nth-child(1) .item .images .imgDrop {
		padding-top: 0;
		height: 100%;
	}
}

@media (min-width: 577px) {
	.blog .column:nth-child(1) .item .content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
	}
}

.blog .column:nth-child(2) {
	width: 100%;
}

@media (min-width: 577px) {
	.blog .column:nth-child(2) {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.blog .column:nth-child(2) {
		width: 40%;
	}
}

.blog .item {
	background: #fff;
	height: 100%;
}

.blog .item .images {
	display: block;
}

.blog .item .imgDrop {
	padding-top: 57.39645%;
}

.blog .item .imgDrop img {
	transform: scale(1);
	transition: all 0.5s;
}

.blog .item .content {
	background: #fff;
	padding: 15px;
}

@media (min-width: 992px) {
	.blog .item .content {
		padding: 15px 30px;
	}
}

.blog .item:hover .imgDrop img {
	transform: scale(1.1);
}

.blog .item:hover .content .title {
	color: #6a7684;
}

.ablum_images {
	background: #f1e7e0;
}

.ablum_images .column {
	width: 50%;
}

@media (max-width: 767px) {
	.ablum_images .column {
		padding: 1px;
	}
}

@media (min-width: 768px) {
	.ablum_images .column {
		width: 33.33%;
	}
}

@media (min-width: 992px) {
	.ablum_images .column {
		width: 20%;
	}
}

@media (max-width: 991px) {
	.ablum_images .column:nth-child(1) {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.ablum_images .column:nth-child(1) {
		width: 50%;
	}
}

.ablum_images .imgDrop {
	padding-top: 70%;
}

.book_now {
	background: #f3f3f3;
}

.book_now .column {
	width: 100%;
}

@media (min-width: 768px) {
	.book_now .column {
		width: 50%;
	}
}

.book_now .column .imgDrop {
	height: 100%;
}

@media (max-width: 767px) {
	.book_now .column .imgDrop {
		padding-top: 50%;
	}
}

.book_now .form_book {
	background: #fff;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	.book_now .form_book {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.book_now .form_book input {
	width: 100%;
	border-radius: 50px;
	background: #f3f3f3;
	border: 1px solid transparent;
	padding: 5px 15px;
	height: 30px;
}

.book_now .form_book input:focus {
	border: 1px solid #ebd3bc;
	outline: none;
}

.book_now .form_book .wpcf7-submit {
	width: 100%;
	font-size: 16px;
}
.book_now .form_book .your-message,
.book_now .form_book .your-email {
	width: 100%;
}
.book_now .form_book textarea {
	padding: 15px;
	background: #f3f3f3;
	border: 1px solid transparent;
	height: 150px;
	width: 100%;
	border-radius: 15px;
}

.book_now .form_book textarea:focus {
	border: 1px solid #ebd3bc;
	outline: none;
}

.book_now .form_book .your-phone {
	width: 100%;
}

@media (min-width: 992px) {
	.book_now .form_book .your-phone {
		width: 200px;
	}
}

.book_now .form_book .your-name {
	width: 100%;
}

@media (max-width: 991px) {
	.book_now .form_book .your-name {
		margin-bottom: 10px;
	}
}

@media (min-width: 992px) {
	.book_now .form_book .your-name {
		width: calc(100% - 200px - 10px);
		margin-right: 10px;
	}
}

.about_main .wraper {
	position: relative;
}

@media (min-width: 768px) {
	.about_main .wraper {
		min-height: 800px;
	}
}

.about_main .wraper .bg {
	position: absolute;
	left: 50%;
	right: 0;
	top: 0;
	bottom: 0;
}

@media (max-width: 767px) {
	.about_main .wraper .bg {
		opacity: 0.35;
		left: 30%;
	}
}

@media (max-width: 576px) {
	.about_main .wraper .bg {
		margin-left: auto;
		left: 0;
		opacity: 0.2;
		bottom: 0;
		right: 0;
		top: 0;
	}
}

@media (min-width: 577px) {
	.about_main .wraper .bg {
		display: flex;
		align-items: center;
	}
}

.about_main .wraper .content {
	max-width: 600px;
}

.about_main .wraper .content .item {
	padding-left: 25px;
	position: relative;
}

@media (min-width: 768px) {
	.about_main .wraper .content .item {
		padding-left: 60px;
	}
}

.about_main .wraper .content .item:before {
	position: absolute;
	content: "";
	top: 5px;
	left: 0;
	border-radius: 50%;
	background: #89a7b0;
	width: 15px;
	height: 15px;
}

@media (min-width: 768px) {
	.about_main .wraper .content .item:before {
		top: 0;
		width: 45px;
		height: 45px;
	}
}

.about_video {
	background-image: url(../images/bg3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: #6a7684;
	color: #fff;
}

@media (max-width: 767px) {
	.about_video {
		padding-bottom: 50px;
	}
}

.about_video .column {
	width: 100%;
}

@media (min-width: 768px) {
	.about_video .column {
		width: calc(50% - 8px);
		color: #fff;
	}
}

@media (max-width: 767px) {
	.about_video .column {
		text-align: center;
	}
}

@media (min-width: 992px) {
	.about_video .column {
		width: calc(50% - 15px);
	}
}

@media (min-width: 768px) {
	.about_video .column:nth-child(2) {
		padding-right: 15px;
	}
}

@media (max-width: 767px) {
	.about_video .column:nth-child(2) {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
}

@media (min-width: 768px) {
	.about_video .column:nth-child(1) {
		padding-left: 30px;
	}
}

.about_video .column .ttl_sub {
	position: relative;
	padding-bottom: 10px;
}

.about_video .column .ttl_sub:before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 200px;
	height: 2px;
	background: #fff;
}

@media (max-width: 767px) {
	.about_video .column .ttl_sub:before {
		margin: auto;
		right: 0;
	}
}

.about_video .column .imgDrop {
	padding-top: 65.11873%;
	border: 5px solid #fff;
}
.about_video .column .imgDrop iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
@media (max-width: 767px) {
	.about_video .slick-arrow {
		top: 100%;
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	.about_video .slick-next {
		right: calc(50% - 40px);
	}
}

@media (max-width: 767px) {
	.about_video .slick-prev {
		left: calc(50% - 40px);
	}
}

.blog_post .column {
	padding: 5px;
	width: 50%;
}

@media (min-width: 768px) {
	.blog_post .column {
		width: 33.33%;
	}
}

.blog_post .column a {
	display: block;
}

.blog_post .column .imgDrop {
	padding-top: 65.59701%;
}

.blog_post .column .imgDrop img {
	transform: scale(1);
	transition: all .8s;
}

.blog_post .column .content {
	background: #ddd9d6;
	transition: all .3s;
}

.blog_post .column:hover .imgDrop img {
	transform: scale(1.1);
}

.blog_post .column:hover .content {
	background: #6a7684;
	color: #ebd3bc;
}

.news {
	background: #eaeaea;
}

.news_post .column {
	width: 100%;
}

@media (min-width: 992px) {
	.news_post .column {
		width: 50%;
	}
}

.news_post .column .imgDrop {
	padding-top: 100%;
	height: 100%;
}

@media (max-width: 576px) {
	.news_post .column .imgDrop {
		padding-top: 65%;
	}
}

.news_post .column .item_post {
	margin: 2px 0;
	background: #fff;
}
.news_post .column .item_post.reverse {
	flex-direction: row-reverse;
}
@media (max-width: 576px) {
	.news_post .column .item_post {
		margin: 0 0 10px;
	}
}

.news_post .column .item_post .images {
	width: 100%;
}

@media (min-width: 577px) {
	.news_post .column .item_post .images {
		width: 250px;
	}
}

@media (max-width: 991px) {
	.news_post .column .item_post .images {
		order: -1;
	}
}

@media (min-width: 992px) {
	.news_post .column .item_post .images {
		width: 50%;
	}
}

.news_post .column .item_post .content {
	width: 100%;
	padding: 15px;
}

@media (min-width: 577px) {
	.news_post .column .item_post .content {
		width: calc(100% - 250px);
		padding: 20px;
	}
}

@media (min-width: 992px) {
	.news_post .column .item_post .content {
		width: 50%;
	}
}

@media (max-width: 576px) {
	.news_post .column:nth-child(1) {
		display: none;
	}
}

@media (max-width: 991px) {
	.news_post .column:nth-child(1) .imgDrop {
		padding-top: 50%;
	}
}

@media (max-width: 576px) {
	.news_post .column:nth-child(4) {
		display: none;
	}
}

.news_post .column:nth-child(4) .imgDrop {
	height: 100%;
	padding-top: 0;
}

@media (max-width: 991px) {
	.news_post .column:nth-child(4) .imgDrop {
		padding-top: 50%;
	}
}

.news_blog .column {
	padding: 5px;
	width: 100%;
}

@media (min-width: 577px) {
	.news_blog .column {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.news_blog .column {
		width: 33.33%;
	}
}

@media (min-width: 992px) {
	.news_blog .column {
		padding: 10px;
	}
}

.news_blog .item {
	background: #fff;
	height: 100%;
}

.news_blog .item .images {
	display: block;
}

.news_blog .item .imgDrop {
	padding-top: 57.39645%;
}

.news_blog .item .imgDrop img {
	transform: scale(1);
	transition: all 0.5s;
}

.news_blog .item .content {
	background: #fff;
	padding: 15px;
}

@media (min-width: 992px) {
	.news_blog .item .content {
		padding: 15px 30px;
	}
}

.news_blog .item:hover .imgDrop img {
	transform: scale(1.1);
}

.news_blog .item:hover .content .title {
	color: #6a7684;
}

.donate .column {
	background: #fff;
	width: 100%;
}

@media (min-width: 768px) {
	.donate .column {
		width: 50%;
	}
}

.donate .imgDrop {
	padding-top: 100%;
}

.donate .content {
	padding: 15px;
}

.service_main .tab_nav {
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	text-align: center;
}

@media (min-width: 768px) {
	.service_main .tab_nav {
		flex-wrap: nowrap;
	}
}

.service_main .tab_nav li {
	padding: 10px;
	background: #fff;
	transition: all .3s;
	position: relative;
	color: #000;
	width: 33.33%;
}

@media (min-width: 768px) {
	.service_main .tab_nav li {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.service_main .tab_nav li:nth-child(-n + 2) {
		width: 50%;
		border-bottom: 1px solid #000;
	}
}

.service_main .tab_nav li + li:before {
	position: absolute;
	content: "";
	top: 5px;
	bottom: 5px;
	left: -2px;
	width: 2px;
	background: #6a7684;
}

@media (max-width: 767px) {
	.service_main .tab_nav li + li:before {
		top: 0;
		bottom: 0;
	}
}

.service_main .tab_nav li:hover,
.service_main .tab_nav li.current {
	background: #a9acb5;
	color: #eee;
}

.service_main .tab_nav li:hover:before,
.service_main .tab_nav li.current:before {
	opacity: 0;
}

.service_main .parents {
	position: relative;
}

.service_main .parents .column-2 {
	width: 100%;
	padding-bottom: 20px;
	position: relative;
}

@media (min-width: 768px) {
	.service_main .parents .column-2 {
		width: 50%;
		padding: 0 15px;
	}
}

@media (min-width: 992px) {
	.service_main .parents .column-2 {
		padding: 0 30px;
	}
}

.service_main .parents .column-2:nth-child(2):before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	background: #6a7684;
}

@media (max-width: 767px) {
	.service_main .parents .column-2:nth-child(2):before {
		display: none;
	}
}

.service_main .parents .column-2 .images {
	width: 60px;
}

@media (min-width: 992px) {
	.service_main .parents .column-2 .images {
		width: 100px;
	}
}

.service_main .parents .column-2 .content {
	padding: 10px;
	position: relative;
	z-index: 1;
	width: calc(100% - 60px);
}

@media (max-width: 767px) {
	.service_main .parents .column-2 .content {
		font-size: 13px;
	}
}

@media (min-width: 992px) {
	.service_main .parents .column-2 .content {
		width: calc(100% - 100px);
	}
}

.service_main .parents .column-2 .content .name {
	padding: 0 5px;
	width: 100%;
}

@media (min-width: 992px) {
	.service_main .parents .column-2 .content .name {
		padding: 0 15px;
		background: #fff;
		max-width: calc(100% - 100px - 50px);
	}
}

.service_main .parents .column-2 .content .price {
	width: 100%;
	padding: 5px 5px;
}

@media (min-width: 992px) {
	.service_main .parents .column-2 .content .price {
		background: #ffffff;
		padding: 5px 15px;
		width: 100px;
	}
}

.service_main .parents .column-2 .content .price:before {
	position: absolute;
	content: "";
	top: 50%;
	height: 1px;
	left: 20px;
	right: 20px;
	background: #6a7684;
	z-index: -1;
}

@media (max-width: 991px) {
	.service_main .parents .column-2 .content .price:before {
		display: none;
	}
}

.service_main .parents .column-4 {
	padding: 0 0 20px;
	width: 100%;
	position: relative;
	border-right: 1px solid #000;
}

@media (min-width: 768px) {
	.service_main .parents .column-4 {
		width: 50%;
		padding: 0 10px 20px;
	}
}

@media (min-width: 992px) {
	.service_main .parents .column-4 {
		width: 25%;
	}
}

.service_main .parents .column-4:nth-child(3):before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	width: 1px;
	background: #6a7684;
	left: 0;
	display: none;
}
.service_main .parents .column-4:last-child:before {
	left: auto;
	right: 0;
}
@media (max-width: 767px) {
	.service_main .parents .column-4:nth-child(3):before {
		display: none;
	}
}

.service_main .parents .column-4:nth-child(2):before,
.service_main .parents .column-4:nth-child(2):after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	width: 1px;
	background: #6a7684;
	display: none;
}

@media (max-width: 991px) {
	.service_main .parents .column-4:nth-child(2):before,
	.service_main .parents .column-4:nth-child(2):after {
		display: none;
	}
}

.service_main .parents .column-4:nth-child(2):before {
	left: -7%;
}

.service_main .parents .column-4:nth-child(2):after {
	right: 7%;
	z-index: 11;
}

.service_main .parents .column-4 .images {
	width: 60px;
}

.service_main .parents .column-4 .content {
	padding: 0 10px;
	width: calc(100% - 60px);
	position: relative;
	z-index: 1;
	font-size: 13px;
}

.service_main .parents .column-4 .content .name {
	padding: 0 5px;
	background: #fff;
	width: 100%;
}

.service_main .parents .column-4 .content .price {
	width: 100%;
	padding: 5px 5px;
	background: #fff;
}

.service_main .parents .title {
	border-bottom: 1px solid #6a7684;
	padding-bottom: 10px;
	font-size: 14px;
}

.service_main .parents .item .images .imgDrop {
	padding-top: 100%;
	border-radius: 50%;
}

.service_main .parents .item:hover {
	color: #6a7684;
}

.title_sub {
	color: #6a7684;
	padding-bottom: 5px;
}

.title_sub:before {
	margin-left: 0;
	width: 180px;
	background: #6a7684;
}

.service_sub .parent {
	align-items: flex-start;
}

.service_sub .content_main {
	font-size: 12px;
	line-height: 16px;
	width: 100%;
}

@media (max-width: 1200px) {
	.service_sub .content_main {
		order: -1;
	}
}

@media (min-width: 1201px) {
	.service_sub .content_main {
		width: calc(100% - 560px - 40px);
		margin: 0 20px;
	}
}

@media (max-width: 767px) {
	.service_sub .content_main .slider {
		padding-bottom: 0;
	}
}

@media (max-width: 767px) {
	.service_sub .content_main .item {
		margin-top: 25px;
	}
}

.service_sub .content_main .item .images {
	width: 100%;
}

@media (max-width: 767px) {
	.service_sub .content_main .item .images {
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) {
	.service_sub .content_main .item .images {
		width: 40%;
	}
}

.service_sub .content_main .item .images .imgDrop {
	padding-top: 100%;
}

@media (max-width: 767px) {
	.service_sub .content_main .item .images .imgDrop {
		padding-top: 63.47305%;
	}
}

.service_sub .content_main .item .content {
	width: 100%;
}

@media (min-width: 768px) {
	.service_sub .content_main .item .content {
		width: calc(60%);
		padding-left: 10px;
	}
}

.service_sub .content_main .slick-dots {
	text-align: left;
}

.service_sub .content_main .slick-dots li button:before,
.service_sub .content_main .slick-dots li button:after {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
}

.service_sub .content_main .slick-dots li button:after {
	background: #6a7684;
	width: 8px;
	height: 8px;
}

.service_sub .content_main .slick-dots li button:before {
	width: 14px;
	height: 14px;
	border: 2px solid #6a7684;
	opacity: 0;
	transition: all .3s;
}

.service_sub .content_main .slick-dots li.slick-active button:before {
	opacity: 1;
}

aside {
	border: 1px solid #6a7684;
	padding: 30px 15px;
	font-size: 11px;
	line-height: 13px;
	width: 100%;
}

@media (min-width: 768px) {
	aside {
		width: calc(50% - 10px);
	}
}

@media (min-width: 1201px) {
	aside {
		width: 280px;
	}
}

aside .item .images {
	width: 90px;
	position: relative;
}

aside .item .images .imgDrop {
	padding-top: 50%;
	height: 100%;
}

aside .item .content {
	width: calc(100% - 90px);
	padding-left: 10px;
}

aside .item .btn_view {
	font-size: 9px;
	padding: 0 8px;
}

.aside_detail {
	border: none;
	padding: 0;
}

.detail_main {
	width: 100%;
}

.detail_main h2 {
	font-size: 26px;
	line-height: 1.2em;
}
.detail_main h3 {
	font-size: 21px;
	line-height: 1.2em;
}
.detail_main h4 {
	font-size: 18px;
	line-height: 1.2em;
}
.detail_main h5 {
	font-size: 16px;
	line-height: 1.2em;
}

.detail_main ul:not(.hastag) li,
.detail_main ol:not(.hastag) li {
	list-style: initial;
}
@media (max-width: 1200px) {
	.detail_main {
		margin-bottom: 30px;
	}
}

@media (min-width: 1201px) {
	.detail_main {
		width: calc(100% - 280px - 40px);
	}
}

.hastag {
	font-size: 12px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}

.hastag li {
	margin: 3px;
}

.hastag li a {
	display: block;
	padding: 5px 15px;
	background: #eee;
	border-radius: 3px;
}
.nowrap {
	flex-wrap: nowrap;
}
