.service_main {
    .tab_nav {
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        text-align: center;
        @include min-767 {
            flex-wrap: nowrap;
        }
        li {
            padding: 10px;
            background: #fff;
            transition: all .3s;
            position: relative;
            color: #000;
            width: 33.33%;
            @include min_767 {
                width: 100%;
            }
            &:nth-child(-n+2) {
                @include max_767 {
                    width: 50%;
                    border-bottom: 1px solid #000;
                }
            }
            &+li {
                &:before {
                    position: absolute;
                    content: "";
                    top: 5px;
                    bottom: 5px;
                    left: -2px;
                    width: 2px;
                    background: $main;
                    @include max_767 {
                        top: 0;
                        bottom: 0;
                    }
                }
            }
            &:hover,
            &.current {
                background: #a9acb5;
                color: #eee;
                &:before {
                    opacity: 0;
                }
            }
        }
    }
    .parents {
        position: relative;
        .column-2 {
            width: 100%;
            padding-bottom: 20px;
            @include min_767 {
                width: 50%;
                padding: 0 15px;
            }
            @include min_991 {
                padding: 0 30px;
            }
            &:nth-child(2) {
                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    left: 50%;
                    width: 1px;
                    background: $main;
                    @include max_767 {
                        display: none;
                    }
                }
            }
            .images {
                width: 60px;
                @include min_991 {
                    width: 100px;
                }
            }
            .content {
                padding: 10px;
                position: relative;
                z-index: 1;
                width: calc(100% - 60px);
                @include max_767 {
                    font-size: 13px;
                }
                @include min_991 {
                    width: calc(100% - 100px);
                }
                .name {
                    padding: 0 5px;
                    width: 100%;
                    @include min_991 {
                        padding: 0 15px;
                        background: #fff;
                        max-width: calc(100% - 100px - 50px);
                    }
                }
                .price {
                    width: 100%;
                    padding: 5px 5px;
                    @include min_991 {
                        background: #ffffff;
                        padding: 5px 15px;
                        width: 100px;
                    }
                    &:before {
                        position: absolute;
                        content: "";
                        top: 50%;
                        height: 1px;
                        left: 20px;
                        right: 20px;
                        background: $main;
                        z-index: -1;
                        @include max_991 {
                            display: none;
                        }
                    }
                }
            }
        }
        .column-4 {
            padding: 0 0 20px;
            width: 100%;
            @include min_767 {
                width: 50%;
                padding: 0 10px 20px;
            }
            @include min_991 {
                width: 25%;
            }
            &:nth-child(3) {
                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    background: $main;
                    left: 50%;
                    @include max_767 {
                        display: none;
                    }
                }
            }
            &:nth-child(2) {
                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    background: $main;
                    @include max_991 {
                        display: none;
                    }
                }
                &:before {
                    left: 25%;
                }
                &:after {
                    right: 25%;
                }
            }
            .images {
                width: 60px;
            }
            .content {
                padding: 0 10px;
                width: calc(100% - 60px);
                position: relative;
                z-index: 1;
                font-size: 13px;
                .name {
                    padding: 0 5px;
                    background: #fff;
                    width: 100%;
                }
                .price {
                    width: 100%;
                    padding: 5px 5px;
                    background: #fff;
                }
            }
        }
        .title {
            border-bottom: 1px solid $main;
            padding-bottom: 10px;
            font-size: 14px;
        }
        .item {
            .images {
                .imgDrop {
                    padding-top: 100%;
                    border-radius: 50%;
                }
            }
            &:hover {
                color: $main;
            }
        }
    }
}

.title_sub {
    color: $main;
    padding-bottom: 5px;
    &:before {
        margin-left: 0;
        width: 180px;
        background: $main;
    }
}

.service_sub {
    .parent {
        align-items: flex-start;
    }
    .content_main {
        font-size: 12px;
        line-height: 16px;
        width: 100%;
        @include max_1200 {
            order: -1;
        }
        @include min_1200 {
            width: calc(100% - 560px - 40px);
            margin: 0 20px;
        }
        .slider {
            @include max_767 {
                padding-bottom: 0;
            }
        }
        .item {
            @include max_767 {
                margin-top: 25px;
            }
            .images {
                width: 100%;
                @include max_767 {
                    margin-bottom: 10px;
                }
                @include min_767 {
                    width: 40%;
                }
                .imgDrop {
                    padding-top: 50%;
                    height: 100%;
                    @include max_767 {
                        padding-top: 530/835*100%;
                    }
                }
            }
            .content {
                width: 100%;
                @include min_767 {
                    width: calc(60%);
                    padding-left: 10px;
                }
            }
        }
        .slick-dots {
            text-align: left;
            li {
                button {
                    &:before,
                    &:after {
                        position: absolute;
                        content: "";
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        border-radius: 50%;
                    }
                    &:after {
                        background: $main;
                        width: 8px;
                        height: 8px;
                    }
                    &:before {
                        width: 14px;
                        height: 14px;
                        border: 2px solid $main;
                        opacity: 0;
                        transition: all .3s;
                    }
                }
                &.slick-active {
                    button:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

aside {
    border: 1px solid $main;
    padding: 30px 15px;
    font-size: 11px;
    line-height: 13px;
    width: 100%;
    @include min_767 {
        width: calc(50% - 10px);
    }
    @include min_1200 {
        width: 280px;
    }
    .item {
        .images {
            width: 90px;
            .imgDrop {
                padding-top: 50%;
                height: 100%;
            }
        }
        .content {
            width: calc(100% - 90px);
            padding-left: 10px;
        }
        .btn_view {
            font-size: 9px;
            padding: 0 8px;
        }
    }
}

.aside_detail {
    border: none;
    padding: 0
}

.detail_main {
    width: 100%;
    @include max_1200 {
        margin-bottom: 30px;
    }
    @include min_1200 {
        width: calc(100% - 280px - 40px);
    }
}

.hastag {
    font-size: 12px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    li {
        margin: 3px;
        a {
            display: block;
            padding: 5px 15px;
            background: #eee;
            border-radius: 3px;
        }
    }
}