#fb-root
script(src="common/js/jquery.min.js")
script(src="common/fonts/all.js")
script(src="common/js/slick.js")
script(src="common/js/custom_slider.js")
script(src="common/js/select_custom.js")
script(src="common/js/main.js")
script(async='', defer='', crossorigin='anonymous', src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0', nonce='OBK3N4Wa')